.features {
    text-align: center;
    padding: 50px 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.fea_container {
    margin-bottom: 40px;
}

.features_span {
    display: block;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    /* color: #f76e2a; */
    margin-bottom: 10px;
    font-family: 'Roboto';
}

.features h3 {
    font-size: 32px;
    margin-bottom: 10px;
    font-weight: bold;
}

.features p {
    font-size: 16px;
    color: #555;
}

.grid-features {
    display: flex; 
    justify-content: space-between;
    align-items: center; 
    gap: 20px; 
    flex-wrap: nowrap;
    overflow-x: auto;
}

.f {
    flex: 0 1 300px; 
    text-align: center;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.f img {
    width: 70px;
    height: 70px;
    margin-bottom: 10px;
}

.f h4 {
    font-family: 'Belleza';
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: bold;
}

.f p {
    font-size: 14px;
    color: #777;
    line-height: 1.5;
    font-family: 'Roboto';
}