footer{
    width: calc(100vw - (100vw - 100%));
    background-color: #f3f2f0;
}

.footer__grid{
    display: flex;
    box-sizing: border-box;
    justify-content: safe center;
    gap: 80px;
    line-height: 1.7;
}

.images-g{
    display: flex;
    gap: 15px;
}

.images-g img{
    width: 86px;
    height: 86px;
    border-radius: 15%;
}

h5{
    margin: 40px 0;
    font-family: 'Belleza';
    font-size: 28px;
}

ol li {
    list-style: none;   
    line-height: 2;
}

.read_more{
    display: inline-block;
    font-family: 'Cinzel';
    font-size: 16px;
    color:#f76e2a;
    margin: 30px 0;
}