.video-sec {
    width: 100%;
    height: 500px;
    overflow: hidden;
    margin: 0px auto;
    position: relative;
    z-index: -1;
}
.abs-content {
    position: absolute;
    width: 100%;
    top: 80px;
    text-align: center;
    color: white;
}

.btns{
    margin: 60px;
}
.btns a{
    padding: 18px 40px;
    color: white;
    font-family: 'Cinzel';
    font-size: 16px;
    cursor: pointer; /* Adds hand pointer */
    text-decoration: none; /* Ensures no underline (optional) */
}
#book_btn2 {
    background-color: #f76e2a;
}