*,html{
    margin: 0;
    padding: 0;
}
img{
    max-width: 100%;
}

a{
    text-decoration: none;
}

/* nav */
.nav_container {
    background-color: transparent;
    transition: background-color 0.3s ease;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    z-index: 1;
    box-shadow: 0 5px 10px 0 rgba(26,47,51,.2)
}

.logo{
    width: 132px;
    height: 49.57px;
}

ul{
    list-style: none;
}

nav li {
    float: left;
    margin: 0 25px;
}

nav li a {
    font-family: 'Roboto';
    font-size: 15px;
    font-weight: bold;
    color: white;
}

.button {
    width: 160px;
    height: 60px;
    line-height: calc(60px - 2px);
    margin-right: 100px;
    background-color: #f76e2a;
    text-align: center;
}


.button a {
    font-family: 'Cinzel';
    font-size: 14px;
    color: white;
}

/* home */
.hero{
    background: linear-gradient(to bottom, #000000 -5%, rgba(0, 0, 0, 0) 99%), url("../public/images/seafood-slide.jpg");
    background-size: cover;
    background-position: center;
    width:100%;
    height: 658px;
    margin-bottom: 50px;
}

.overlay {
    position: relative;
    top: 150px;
    color: #e5ebef;
    text-align: center;
}

#home_p{
    font-family: 'Roboto';
    font-size: 15px;
    font-weight: bold;
}

h2 {
    font-family: 'Belleza';
    font-size: 100px;
    margin: 30px 0;
}

.cta-buttons button {
    position: relative; 
    background-color: transparent;
    color: white;
    border: none;
    padding: 15px 40px;
    font-family: 'Cinzel';
    font-size: 18px;
    cursor: pointer;
    overflow: hidden;
}

/* ripple animation for buttons*/
.ripple {
    position: absolute;
    left: 50%; 
    top: 50%; 
    width: 20px; 
    height: 20px; 
    background: rgba(255, 255, 255, 0.5); 
    border-radius: 50%; 
    transform: translate(-50%, -50%) scale(0); 
    animation: ripple-animation 0.6s linear forwards; 
}

@keyframes ripple-animation {
    to {
        transform: translate(-50%, -50%) scale(4); 
        opacity: 0; 
    }
}

#book_btn {
    border: 2px solid white;
}


/* about */
.about__grid {
    display: flex;
    justify-content: center;
}
.lft{
    box-sizing: border-box;
    width: 600px;
    height: 600px;
    padding: 60px;
}
.rgt{
    width: 600px;
    height: 600px;
}

.rgt img{
    width:100%;
    height:100%;
    object-fit: fit;
}

.orange-line {
    font-family: 'Roboto';
    font-size: 15px;
    font-weight: bold;
}

h3 {
    font-family: 'Belleza';
    font-size: 52px;
    margin: 30px 0;
}
p {
    font-family: 'Roboto';
    font-size: 18px;
    line-height: 25px;
}

.about_a{
    display: inline-block;
    background-color: #f76e2a;
    text-align: center;
    margin: 30px 0;
    padding: 20px 28px;
    font-family: 'Cinzel';
    color: white;
}

/* features */

.features{
    margin: 80px 0;
}
.features_span {
    display: block;
    margin: 30px auto;
    text-align: center;
    font-family: 'Roboto';
    font-size: 15px;
    font-weight: bold;
}

.fea_container{
    text-align: center;
    margin: 0 auto;
}

.features__grid{
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 50px;
    margin-top: 50px;
}

.f img {
    width: 70px;
    height: 70px;
}

h4{
    font-family: 'Belleza';
    font-weight: lighter;
    font-size: 28px;
    margin: 30px;
}

h4~p{
    font-family: 'Roboto';
    font-size: 16px;
    line-height: 1.7;
}

/* reservation */
.video-sec {
    width: 100%;
    height: 500px;
    overflow: hidden;
    margin: 80px auto 0px auto;
    position: relative;
    z-index: -1;
}
.abs-content {
    position: absolute;
    width: 100%;
    top: 80px;
    text-align: center;
    color: white;
}

.btns{
    margin: 60px;
}
.btns a{
    padding: 18px 40px;
    color: white;
    font-family: 'Cinzel';
    font-size: 16px;
}
#book_btn2 {
    background-color: #f76e2a;
}

/* newsletter */
.newsletter{
    background-image: url("../public/images/reservation-bg.jpg");
    width: calc(100vw - (100vw - 100%));
    height: 490px;
    background-position: center;
    color: white;
}

.news_container{
    box-sizing: border-box;
    padding: 100px;
}

form {
    margin: 30px 0;
}
input{
    display: inline-block;
    width: 330px;
    padding: 20px;
}
input~button {
    border: none;
    padding: 20px 30px;
    margin: 0 10px;
    background-color: #f76e2a;
    color: white;
    font-family: 'Cinzel';
    font-size: 15px;
}

/* footer */
iframe{
    display: block;
}
footer{
    width: calc(100vw - (100vw - 100%));
    background-color: #f3f2f0;
}

.footer__grid{
    display: flex;
    box-sizing: border-box;
    justify-content: safe center;
    gap: 80px;
    line-height: 1.7;
}

.images-g{
    display: flex;
    gap: 15px;
}

.images-g img{
    width: 86px;
    height: 86px;
    border-radius: 15%;
}

h5{
    margin: 40px 0;
    font-family: 'Belleza';
    font-size: 28px;
}

ol li {
    list-style: none;   
    line-height: 2;
}

.read_more{
    display: inline-block;
    font-family: 'Cinzel';
    font-size: 16px;
    color:#f76e2a;
    margin: 30px 0;
}

.nav_container.scrolled {
    background-color: rgba(8, 8, 8, 0.6); 
}

.cta-buttons.active-border {
    border: 2px solid white;
    padding: 10px;
    position: relative;
    transition: border 0.3s;
}
